.header {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  background-color: #b7dff7;
  border-radius: 15px;
}

.header:hover {
  border: 2px solid #808080
}

.body_non_active {
  display: none;
}

.body_active {
  margin: 10px 0;
  padding: 20px 30px;
  display: block;
  border: 1px solid #000000;
  border-radius: 15px;
}

.card {
  margin: 5px 0;
}