.header, .header_active {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  border-radius: 15px;
}

.header {
  background-color: #b7dff7;
}

.header_active {
  border: 2px solid #808080;
  background-color: #58c43d;
  transition: 1s;
}

.header:hover {
  border: 2px solid #808080;
}

.body_non_active {
  display: none;
}

.body_active {
  margin: 10px 0;
  padding: 20px 30px;
  /*border: 1px solid #ddd;
  border-radius: 15px;*/
  animation-name: active;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.item {
  overflow: hidden;
}

.card {
  margin: 5px 0;
  padding: 0 150px;
}

@keyframes active {
  0% {transform: translateY(-100%)}
  100% {transform: translateY(0%)}
}

@keyframes activeTwo {
  0% {transform: rotateY(90deg)}
  100% {transform: rotateY(0deg)}
}