.skils {
  margin: 0 120px 50px;
}

.header {
  caption-side: top;
  text-align: center;
  color: #000000; 
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.table {
  border-collapse: collapse;
  font-size: 20px;
  text-align: center;
}

.table tr td, .table tr th {
  border: 1px solid black;
  padding: 3px 0; 
}

.table tr th {
  background-color: #2b83cc;
}

.col_name {
  width: 40%;
}

.col_other {
  width: 20%;
}