/* Вместо данного файла можно добавить следующи код в package.json:
   "babel": {
    "presets": [
      "@babel/env",
      "@babel/react"
    ]}
*/{
    "presets": ["@babel/preset-env", "@babel/preset-react"], //пресеты для транспайлинга кода
    "plugins": [
      [
        "@babel/plugin-proposal-class-properties" // поддержка экспериментального синтаксиса
      ]
    ]
}