.info {
  padding: 0 150px 0 0;
  margin: 10px 20px;
}

.avatar {
  opacity: 0;
  padding: 0 0 0 150px;
  float: left; 
  margin: 10px 0;
  border-radius: 10px;
  animation-name: show;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.table {
  table-layout: fixed;
  font-size: 25px;
  width: 100%;
}

.col_title {
  width: 30%;
}

.col_data {
  width: 70%;
}

@keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}