.info {
    font-family: 'Times New Roman', Times, serif;
}

.avatar {
    max-width: 100%
}

.fio {
    font-size: 30px;
    font-weight: bold;
    color: red;
}

.birthday {
    font-size: 20px;
    font-style: italic;
}

.sity {
    font-size: 20px;
    font-weight: bold;
}

.education {
    font-size: 20px;
    font-style: italic;
}