.header {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.job {
  margin: 40px 0;
}

.company {
  font-weight: bold;
  font-size: 30px;
}

.post, .project, .role, .subsystem, .duties, .technologys {
  font-size: 20px;
}

.definition {
  font-weight: bold;
}

.listitem {
  padding: 0 0 0 30px;
}