.container {
  display: flex;
  flex-wrap: wrap;
}

.form {
  border: 3px solid #ced4da;
  border-radius: 15px;
  margin: 40px 150px;
  padding: 15px;
  opacity: 0;
  animation-name: show;
  animation-duration: 1000ms;
  animation-delay: 2000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.textField {
  padding: 0 15px 0 0;
}

.icon {
  margin: 0 0 0 5px;
}

@keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}