.projectDiv {
  margin: 40px 0;
  font-family: 'Courier New', Courier, monospace,
}

.company {
  font-weight: bold;
  font-size: 30px;
}

.post, .project, .role, .subsystem, .duties, .technologys {
  font-size: 20px;
}

.definition {
  font-weight: bold;
}

.listitem {
  padding: 0 0 0 30px;
}