.block {
  margin: 0 0 50px 0;
}

.caption {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.company {
  font-weight: bold;
  font-size: 30px;
}

.from, .listitem {
  font-size: 20px;
}

.listitem {
  padding: 0 0 0 30px;
}

.image {
  max-width: 0.7em;
  margin: 0 0 0 10px;
}