.info {
    font-family: 'Times New Roman', Times, serif;
}

.fio {
    font-size: 30px;
    color: red;
}

.birthday, .education {
    font-size: 20px;
    font-style: italic;
}

.sity {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}